<app-player *ngFor="let player of game.players; let i = index;" class="player-position" [ngStyle]="{'top.px': 100 + (i * 90)}" [playerActive]="i == game.currentPlayer" [name]="player"></app-player>
<div class="field">
    <div class="card-stack">
        <!--Card stack-->
        <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0, 1, 2, 3]; let i = index;" src="assets/img/card_backside.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px" src="assets/img/card_backside.png">
        <!--Stack for played cards-->
        <img (click)="takeCard()" *ngFor="let card of game.playedCards" class="played-card" style="right: 25px" src="assets/img/PNG-cards-1.3/{{ card }}">
        <!--Current card (animation)-->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px" src="assets/img/PNG-cards-1.3/{{ game.currentCard }}">
    </div>
</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>