<div *ngIf="!gameOver">
    <app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" class="player-position hide-mobile" [ngStyle]="{'top.px': 20 + (i * 70)}" [playerActive]="i == game.currentPlayer" [name]="player" [image]="game.player_images[i]"></app-player>
    <div class="scroll-container hide-desktop">
        <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" [ngStyle]="{'left.px': 10 + (i * 100), 'top.px': 0}" [playerActive]="i == game.currentPlayer" [name]="player" [image]="game.player_images[i]"></app-player-mobile>
    </div>
</div>
<div *ngIf="gameOver" class="gameOver">
    <img src="assets/img/game_over.jpg">
</div>
<div class="field" *ngIf="!gameOver">
    <div class="card-stack">
        <!--Card stack-->
        <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0, 1, 2, 3]; let i = index;" src="assets/img/card_backside.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px" src="assets/img/card_backside.png">
        <!--Stack for played cards-->
        <img (click)="takeCard()" *ngFor="let card of game.playedCards" class="played-card" style="right: 50px" src="assets/img/PNG-cards-1.3/{{ card }}">
        <!--Current card (animation)-->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 50px" src="assets/img/PNG-cards-1.3/{{ game.currentCard }}">
    </div>
</div>

<app-game-info [card]="game.currentCard" class="pin-bottom" *ngIf="!gameOver"></app-game-info>

<button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="btn-add" (click)="openDialog()" *ngIf="!gameOver">
    <mat-icon>add</mat-icon>
  </button>
<img src="assets/img/PNG-cards-1.3/{{game.stack[game.stack.length - 1]}}.png" class="preloadImage">